/* body {
    background: lightyellow;
    font-family: 'VCR OSD Mono', sans-serif;

}

h1 {
    color: orange;
} */
#name {
    font-family: 'VCR OSD Mono', sans-serif;
    text-align: center;
    margin: 2em;
    font-size: calc(40px + 1vw);


}

#header-menu {
    font-family: 'VCR OSD Mono', sans-serif;
    text-align: center;
    margin: 2em;

}

#border-top-1 {
    margin-top: 5rem;
    border-top: 1px solid black;
}

#seemore {
    font-family: 'Helvetica Neue', sans-serif;
    padding-bottom: 2em;
}

#introduction {
    font-family: 'Helvetica Neue', sans-serif;
    margin: 1em;

}

#copyright {
    margin-right: 1rem;
}

#image-description {
    padding-top: 2rem !important;
}

#image-spacing-5 {
    margin-top: 5rem !important;
}

#image-spacing-10 {
    margin-top: 5rem !important;
}

#image-spacing-15 {
    margin-top: 5rem !important;
}

a {
    color: black;
}

.textscroll {

    margin: 1em auto;
    overflow: hidden;
    position: relative;
    min-height: 4em;
}

.example-left {
    white-space: nowrap;
    position: absolute;

}

.example-left {
    -webkit-animation: mymove 15s linear infinite;
    /* Safari 4.0 - 8.0 */
    white-space: nowrap;
    animation: mymove 15s linear infinite alternate;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes mymove {
    from {
        left: 0;
    }

    to {
        left: 120%;
    }
}

@keyframes mymove {
    from {
        left: 0;
    }

    to {
        left: 120%;
    }
}